{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-lg-4">
            <br>
            <h6 class="text-center">Password Reset Email Sent</h6>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
{% endblock %}
