{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row justify-content-lg-center">
        <div class="col-lg-3">
            <br>
            <h5 class="text-center">Reset Password</h5>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form | crispy }}

                <button type="submit" class="btn btn-success btn-block">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send Reset Email
                </button>
            </form>
        </div>
    </div>

{% endblock %}
